body {
  margin: 10px 200px;
  line-height: 2;
  background-color: rgb(255, 255, 255);
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.84);
}

p {
  margin-top: 20px;
}

.left {
  float: left;
}

.sidebar {
  max-width: 200px;
}
