<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../blog.css" />
    <title>Agile Blog</title>
  </head>
  <body>
    <h1>Agile Blog</h1>
    <div class="left sidebar">
      <p>
        <a href="/">Home</a>
      </p>
      <p>
        Posts
      </p>
      <ul>
        {{#articleLinks}}
        <li><a href="{{href}}">{{title}}</a></li>
        {{/articleLinks}}
      </ul>
    </div>
    <article>
      {{{article}}}
    </article>
  </body>
</html>
